venv/
pre_encoder/
warp-transducer
.idea
*.pyc
outputs/**
ocr_ctc/log*.txt
log*.txt
*.sl
**/outputs/*
**/old_outputs/*
**/.ipynb_checkpoints/
**/*.ipynb
**/plot_model/*.tex
**/*.pdf
**/*.aux
**/*.log
**.png
**.mp4
**egg-info**
**.gif
**.tar.gz
dist/
build/
server/upload/**
Datasets/*
**/dataset_features
**/OCR/OutputDropout/**
*.0
